# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Production build
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# 但不要忽略示例文件
!.env.example

# TypeScript cache
*.tsbuildinfo

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Other
coverage/
